# GROMACS output
*.tpr
*.edr
*.trr
*.xtc
*.cpt
*.gro
*.log
exps/*/gmx/*/*_gmx.log
exps/*/gmx/*/#*#

# OpenMM output (large)
exps/*/md/*/*.dcd
exps/*/md/*/*.chk
exps/*/md/*/*.xml
exps/*/md/*/*_amber.pdb
exps/*/md/*/*_solvated.pdb
exps/*/md/*/*_fixed.pdb
exps/*/md/*/*_log.txt

# tleap output (large)
exps/*/tleap/*.prmtop
exps/*/tleap/*.inpcrd
exps/*/tleap/*_tleap.pdb
exps/*/tleap/leap.log

# Intermediate structures
exps/*/structures/1NU*.pdb
exps/*/structures/DPP4_chainB.pdb
exps/*/structures/DPP4_GLP1_*.pdb
exps/*/structures/glp1_*.pdb
exps/*/structures/DiprotinA.pdb
exps/*/structures/*.prmtop
exps/*/structures/leap.log

# Antechamber temp files
common/params/ANTECHAMBER_*
common/params/ATOMTYPE.INF
common/params/sqm.*
common/params/aib_capped.*
common/params/aib.frcmod

# Misc
cc-ds.sh
cc.sh
.env
__pycache__/
*.pyc

# exp-F build intermediates
exps/exp-F/build/system_v*.prmtop
exps/exp-F/build/system_v*.inpcrd
exps/exp-F/build/system_v*.pdb
exps/exp-F/build/tleap_v*.log
exps/exp-F/build/build_system_v*.in
exps/exp-F/build/lnk_stripped_v*.mol2
exps/exp-F/build/lnk_stripped_nobond.mol2
exps/exp-F/build/lnk_aligned.mol2
exps/exp-F/build/lya_link_v*.frcmod
exps/exp-F/build/test_*.in
exps/exp-F/build/min_log*.txt
exps/exp-F/build/equil_log.txt
exps/exp-F/build/min_v*.log
exps/exp-F/build/equil_v*.log

# exp-F large files
exps/exp-F/structures/*.pdb
exps/exp-F/tleap/*.pdb
exps/exp-F/tleap/*.prmtop
exps/exp-F/tleap/*.inpcrd
exps/exp-F/md/rep1/*.pdb
exps/exp-F/md/rep1/*.chk
exps/exp-F/md/rep1/*.dcd
exps/exp-F/md/rep1/*.xml
exps/exp-F/md/rep1/*_log.txt
exps/exp-F/build/receptor_peptide.pdb
exps/exp-F/build/lnk_stripped.mol2
exps/exp-F/build/lnk_stripped_fixed.mol2
exps/exp-F/build/*.log

# exp-F membrane build intermediates
exps/exp-F/membrane_build/system_final.*
exps/exp-F/membrane_build/*_final.pdb
exps/exp-F/membrane_build/build_system_v*.py
exps/exp-F/membrane_build/build_system_v*.in
exps/exp-F/membrane_build/build_membrane_v*.in
exps/exp-F/membrane_build/build_membrane_v*.log
exps/exp-F/membrane_build/tleap_v*.log
exps/exp-F/membrane_build/leap*.log
exps/exp-F/membrane_build/cpptraj*.log
exps/exp-F/membrane_build/manual_packmol*
exps/exp-F/membrane_build/packmol_membrane_only*
exps/exp-F/membrane_build/packmol.log
exps/exp-F/membrane_build/packmol-memgen.log
exps/exp-F/membrane_build/packmol.inp
exps/exp-F/membrane_build/7ki0_translated*
exps/exp-F/membrane_build/membrane*.pdb
exps/exp-F/membrane_build/membrane*.prmtop
exps/exp-F/membrane_build/membrane*.inpcrd
exps/exp-F/membrane_build/membrane*.log
exps/exp-F/membrane_build/merged_system.pdb
exps/exp-F/membrane_build/merge_system.py
exps/exp-F/membrane_build/test_*
exps/exp-F/membrane_build/backbone_atoms.dat
exps/exp-F/membrane_build/lipid_mask.dat
exps/exp-F/membrane_build/res_mask.dat
exps/exp-F/membrane_build/protein_pdb4amber*
exps/exp-F/membrane_build/CHL1.pdb
exps/exp-F/membrane_build/POPC.pdb
exps/exp-F/membrane_build/WAT.pdb
exps/exp-F/membrane_build/K+.pdb
exps/exp-F/membrane_build/Cl-.pdb
exps/exp-F/membrane_build/water_ions_final.pdb
exps/exp-F/membrane_build/translate_pdb.py
exps/exp-F/membrane_build/lnk_only.pdb
