# GROMACS output
*.tpr
*.edr
*.trr
*.xtc
*.cpt
*.gro
*.log
exps/*/gmx/*/*_gmx.log
exps/*/gmx/*/#*#

# OpenMM output (large)
exps/*/md/*/*.dcd
exps/*/md/*/*.chk
exps/*/md/*/*.xml
exps/*/md/*/*_amber.pdb
exps/*/md/*/*_solvated.pdb
exps/*/md/*/*_fixed.pdb
exps/*/md/*/*_log.txt

# tleap output (large)
exps/*/tleap/*.prmtop
exps/*/tleap/*.inpcrd
exps/*/tleap/*_tleap.pdb
exps/*/tleap/leap.log

# Intermediate structures
exps/*/structures/1NU*.pdb
exps/*/structures/DPP4_chainB.pdb
exps/*/structures/DPP4_GLP1_*.pdb
exps/*/structures/glp1_*.pdb
exps/*/structures/DiprotinA.pdb
exps/*/structures/*.prmtop
exps/*/structures/leap.log

# Antechamber temp files
common/params/ANTECHAMBER_*
common/params/ATOMTYPE.INF
common/params/sqm.*
common/params/aib_capped.*
common/params/aib.frcmod

# Misc
cc-ds.sh
cc.sh
.env
__pycache__/
*.pyc

# exp-F build intermediates
exps/exp-F/build/system_v*.prmtop
exps/exp-F/build/system_v*.inpcrd
exps/exp-F/build/system_v*.pdb
exps/exp-F/build/tleap_v*.log
exps/exp-F/build/build_system_v*.in
exps/exp-F/build/lnk_stripped_v*.mol2
exps/exp-F/build/lnk_stripped_nobond.mol2
exps/exp-F/build/lnk_aligned.mol2
exps/exp-F/build/lya_link_v*.frcmod
exps/exp-F/build/test_*.in
exps/exp-F/build/min_log*.txt
exps/exp-F/build/equil_log.txt
exps/exp-F/build/min_v*.log
exps/exp-F/build/equil_v*.log

# exp-F large files
exps/exp-F/structures/*.pdb
exps/exp-F/tleap/*.pdb
exps/exp-F/tleap/*.prmtop
exps/exp-F/tleap/*.inpcrd
exps/exp-F/md/rep1/*.pdb
exps/exp-F/md/rep1/*.chk
exps/exp-F/md/rep1/*.dcd
exps/exp-F/md/rep1/*.xml
exps/exp-F/md/rep1/*_log.txt
exps/exp-F/build/receptor_peptide.pdb
exps/exp-F/build/lnk_stripped.mol2
exps/exp-F/build/lnk_stripped_fixed.mol2
exps/exp-F/build/*.log

# exp-F membrane build intermediates
exps/exp-F/membrane_build/system_final.*
exps/exp-F/membrane_build/*_final.pdb
exps/exp-F/membrane_build/build_system_v*.py
exps/exp-F/membrane_build/build_system_v*.in
exps/exp-F/membrane_build/build_membrane_v*.in
exps/exp-F/membrane_build/build_membrane_v*.log
exps/exp-F/membrane_build/tleap_v*.log
exps/exp-F/membrane_build/leap*.log
exps/exp-F/membrane_build/cpptraj*.log
exps/exp-F/membrane_build/manual_packmol*
exps/exp-F/membrane_build/packmol_membrane_only*
exps/exp-F/membrane_build/packmol.log
exps/exp-F/membrane_build/packmol-memgen.log
exps/exp-F/membrane_build/packmol.inp
exps/exp-F/membrane_build/7ki0_translated*
exps/exp-F/membrane_build/membrane*.pdb
exps/exp-F/membrane_build/membrane*.prmtop
exps/exp-F/membrane_build/membrane*.inpcrd
exps/exp-F/membrane_build/membrane*.log
exps/exp-F/membrane_build/merged_system.pdb
exps/exp-F/membrane_build/merge_system.py
exps/exp-F/membrane_build/test_*
exps/exp-F/membrane_build/backbone_atoms.dat
exps/exp-F/membrane_build/lipid_mask.dat
exps/exp-F/membrane_build/res_mask.dat
exps/exp-F/membrane_build/protein_pdb4amber*
exps/exp-F/membrane_build/CHL1.pdb
exps/exp-F/membrane_build/POPC.pdb
exps/exp-F/membrane_build/WAT.pdb
exps/exp-F/membrane_build/K+.pdb
exps/exp-F/membrane_build/Cl-.pdb
exps/exp-F/membrane_build/water_ions_final.pdb
exps/exp-F/membrane_build/translate_pdb.py
exps/exp-F/membrane_build/lnk_only.pdb

# === New additions ===

# Root-level intermediate files
*.mol2
sema_combined.pdb

# exp-A
exps/exp-A/analysis/*.png
exps/exp-A/gmx/*/*.top
exps/exp-A/gmx/*/mdout.mdp
exps/exp-A/md/*/*_final.pdb

# exp-B
exps/exp-B/boltz/
exps/exp-B/docking/*.pdb
exps/exp-B/docking/*.sc
exps/exp-B/structures/*.pdb

# exp-C
exps/exp-C/analysis/*.png
exps/exp-C/md/*/
exps/exp-C/structures/
exps/exp-C/tleap/build_*.in
exps/exp-C/tleap/build_*.py
exps/exp-C/tleap/apply_charged_linker.py

# exp-F minimal model outputs
exps/exp-F/minimal_model/*.pdb
exps/exp-F/minimal_model/*.prmtop
exps/exp-F/minimal_model/*.inpcrd
exps/exp-F/minimal_model/*.log
exps/exp-F/minimal_model/build_ecd_v2*.in
exps/exp-F/minimal_model/check_charge.in
exps/exp-F/minimal_model/check_charge.log
exps/exp-F/minimal_model/complex_ecd_v2_clean.pdb

# exp-F MD outputs
exps/exp-F/md/*/*.log
exps/exp-F/md/*/*.dcd
exps/exp-F/md/*/*.chk
exps/exp-F/md/*/*.pdb
exps/exp-F/md/*/nohup.out
exps/exp-F/md/analysis_solvent.cpptraj

# exp-F analysis
exps/exp-F/analysis/*.png
exps/exp-F/analysis/*.dat
exps/exp-F/analysis/*.txt

# exp-F build temp files
exps/exp-F/build/*.mol2
exps/exp-F/build/sqm.*
exps/exp-F/build/test_*.pdb
exps/exp-F/build/test_out.pdb
exps/exp-F/build/datapar*
exps/exp-F/build/datasub*
exps/exp-F/build/build_minimal_model.py

# exp-F membrane build
exps/exp-F/membrane_build/build_membrane.in
exps/exp-F/membrane_build/build_system.py
exps/exp-F/membrane_build/build_system_zero.in
exps/exp-F/membrane_build/check.prmtop.in
exps/exp-F/membrane_build/leap.in
exps/exp-F/membrane_build/membrane_only.pdb_FORCED
exps/exp-F/membrane_build/membrane_system_lipid.top
exps/exp-F/membrane_build/protein.pdb
exps/exp-F/membrane_build/water_final_*.pdb
exps/exp-F/packmol.inp

# exp-C additional
exps/exp-C/tleap/*.pdb
exps/exp-C/tleap/*.xml
exps/exp-C/tleap/*.frcmod
exps/exp-C/tleap/sqm.*
exps/exp-C/tleap/test.inpcrd
exps/exp-C/md/launch_charged.sh

# exp-D
exps/exp-D/analysis/*.png
exps/exp-D/md/*/
exps/exp-D/tleap/*_fixed.pdb

# exp-F ion/lipid PDBs
exps/exp-F/Cl-.pdb
exps/exp-F/K+.pdb
exps/exp-F/PROT0.pdb
exps/exp-F/WAT.pdb
exps/exp-F/datapar*
exps/exp-F/datasub*

# exp-B
exps/exp-B/structures/test.inpcrd

# exp-C shell scripts and outputs
exps/exp-C/tleap/*.sh
exps/exp-C/tleap/linker_fa/*.pdb

# exp-F minimal model outputs (keep scripts)
exps/exp-F/minimal_model/*.pdb
exps/exp-F/minimal_model/*.prmtop
exps/exp-F/minimal_model/*.inpcrd
exps/exp-F/minimal_model/*.log
exps/exp-F/minimal_model/build_ecd_v2*.in
exps/exp-F/minimal_model/complex_ecd_v2_clean.pdb
exps/exp-F/minimal_model/check_charge*

# exp-F minimal_model - ignore large outputs but keep scripts
exps/exp-F/minimal_model/complex_*.pdb
exps/exp-F/minimal_model/system_*.prmtop
exps/exp-F/minimal_model/system_*.inpcrd
exps/exp-F/minimal_model/system_*.pdb
exps/exp-F/minimal_model/leap.log
exps/exp-F/minimal_model/build_ecd_v2_debug*.in
exps/exp-F/minimal_model/build_ecd_v2_debug*.log
exps/exp-F/minimal_model/build_ecd_v2_test*.in
exps/exp-F/minimal_model/build_ecd_v2_test*.log
exps/exp-F/minimal_model/check_charge*
exps/exp-F/minimal_model/md/
reference.frc

# MM-GBSA dry trajectories / vendored deps / generated solvated PDBs
*.nc
exps/exp-A/analysis/mmpbsa/vendor/
exps/*/tleap/*_solvated.pdb
exps/*/md/*/log.txt
exps/exp-G/tleap/*.pdb
